<footer class="footer mt-auto py-5 bg-dark text-light">
    <div class="container">
        <div class="row">
            <!-- Colonne Informations légales -->
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="mb-3"><a href="#" class="text-light link-offset-2 link-underline link-underline-opacity-0">Info légal</a></li>
                    <li class="mb-3"><a href="#" class="text-light link-offset-2 link-underline link-underline-opacity-0">Règlement RGPD</a></li>
                    <li class="mb-3"><a href="#" class="text-light link-offset-2 link-underline link-underline-opacity-0">et l'autre</a></li>
                </ul>
            </div>

            <!-- Colonne Besoin d'aide -->
            <div class="col-md-4 d-none d-md-block text-center">
                <p>Besoin d'aide ?</p>
            </div>

            <!-- Colonne Réseaux sociaux -->
            <div class="col-md-4 text-start row">
                <a href="https://www.instagram.com/" class="col-6 text-light link-offset-2 link-underline link-underline-opacity-0 mb-3"><img src="{{ asset ('images/social_media/instagram(1).png') }}" alt='Instagram' style="height : 30px "> Instagram</a>
                <a href="https://www.tiktok.com/" class="col-6 text-light link-offset-2 link-underline link-underline-opacity-0 mb-3"><img src="{{ asset ('images/social_media/tic-tac.png') }}" alt='tic-tac' style="height : 30px"> Tiktok</a>
                <a href="https://www.facebook.com/" class="col-6 text-light link-offset-2 link-underline link-underline-opacity-0 mb-3"><img src="{{ asset ('images/social_media/facebook(1).png') }}" alt='facebook' style="height : 30px"> Facebook</a>
                <a href="https://www.x.com/" class="col-6 text-light link-offset-2 link-underline link-underline-opacity-0 mb-3"><img src="{{ asset ('images/social_media/twitter.png') }}" alt='twitter' style="height : 30px"> Twitter</a>
                <a href="#" class="col-6 text-light link-offset-2 link-underline link-underline-opacity-0 mb-3"><img src="{{ asset ('images/social_media/whatsapp.png') }}" alt='whatsapp' style="height : 30px"> WhatsApp</a>
            </div>
        </div>
    </div>
</footer>