{% extends 'base.html.twig' %}

{% block title %}Information personnel
{% endblock %}

{% block body %}

	<div class='container mt-3'>
		{{ form_errors(form) }}

		{{ form_start(form) }}

		<div class="row justify-content-center col-12 text-light">
			<div class='col-5 bg-light text-dark rounded'>
			<div class='h3 col-12 text-center my-2'>Donnée carte bancaire :</div>

				<div class="col-12 my-3">
					{{ form_row(form.numeros_de_carte) }}
				</div>

				<div class="col-12 mb-3">
					{{ form_row(form.nom_titulaire) }}
				</div>

				<div class="col-12 mb-3">
					{{ form_row(form.expiration) }}
				</div>

				<div class="col-12 mb-3">
					{{ form_row(form.code_securite) }}
				</div>
			</div>

		</div>

		<div class="row justify-content-start bg-dark rounded col-12 text-light p-3">
			<div class='h3 col-12 text-center my-2'>Adresses de livraison enregistrer :</div>
			{% for adresseLiv in form.adresseLivraison %}
				{% set compteur = 1 %}
				{% for adresse in adresseLivs %}
					{% if adresseLiv.vars.value == adresse.id %}
						<div class="card col-12 col-sm-6 col-md-3 mx-md-4">
							<li class="list-group-item">
								{{ form_widget(adresseLiv, {'attr': {'class': 'form-check-input me-1'}}) }}
								{{ form_label(adresseLiv, null, {'attr': {'class': 'd-none form-check-label'}}) }}
							</li>
							<div class="card-body">
								<h5 class="card-title">Adresse de livraison
									{{ compteur }}</h5>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Numéro de rue :
									{{ adresse.numeroDeRue }}</li>
								<li class="list-group-item">Adresse :
									{{ adresse.nomRue }}</li>
								<li class="list-group-item">Ville :
									{{ adresse.ville }}</li>
								<li class="list-group-item">Code postal :
									{{ adresse.codePostal }}</li>
								<li class="list-group-item">
									Information supplémentaire :
									{% if adresse.complement != null %}
										{{ adresse.complement }}
									{% else %}
										Aucune informations renseignées
									{% endif %}
								</li>
							</ul>
							<div class="card-body text-end">
								<a href="{{ path('app_modifieAdresse' , {id: adresse.id} )}}" class="card-link">Modifier</a>
							</div>
						</div>
						{% set compteur = compteur + 1 %}
					{% endif %}

				{% endfor %}
			{% endfor %}
		</div>

		<div class="row justify-content-start bg-dark rounded col-12 text-light p-3 mt-3">
			<div class='h3 col-12 text-center my-2'>Adresses de facturation enregistrer :</div>
			{% for adresseFac in form.adresseFacturation %}
				{% set compteur = 1 %}
				{% for adresse in adresseFacs %}
					{% if adresseFac.vars.value == adresse.id %}
						<div class="card col-12 col-sm-6 col-md-3 mx-md-4">
							<li class="list-group-item">
								{{ form_widget(adresseFac, {'attr': {'class': 'form-check-input me-1'}}) }}
								{{ form_label(adresseFac, null, {'attr': {'class': 'd-none form-check-label'}}) }}
							</li>
							<div class="card-body">
								<h5 class="card-title">Adresse de livraison
									{{ compteur }}</h5>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Numéro de rue :
									{{ adresse.numeroDeRue }}</li>
								<li class="list-group-item">Adresse :
									{{ adresse.nomRue }}</li>
								<li class="list-group-item">Ville :
									{{ adresse.ville }}</li>
								<li class="list-group-item">Code postal :
									{{ adresse.codePostal }}</li>
								<li class="list-group-item">
									Information supplémentaire :
									{% if adresse.complement != null %}
										{{ adresse.complement }}
									{% else %}
										Aucune informations renseignées
									{% endif %}
								</li>
							</ul>
							<div class="card-body text-end">
								<a href="{{ path('app_modifieAdresse' , {id: adresse.id} )}}" class="card-link">Modifier</a>
							</div>
						</div>
						{% set compteur = compteur + 1 %}
					{% endif %}

				{% endfor %}
			{% endfor %}
		</div>


		<div class="row col-12 my-3">
			{{ form_row(form.save) }}
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}

