{% extends 'base.html.twig' %}

{% block title %}Panneau de Gestion
{% endblock %}

{% block body %}

	<div class='container'>
		<div class='row justify-content-start bg-dark rounded my-4'>
			<div class="row my-2">
				<div class='h2 col-12 col-md-6 text-light text-start'>panneau de gestion produits</div>
				<div class='col-12 col-md-6 text-end'>
					<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProduit" aria-expanded="false" aria-controls="collapseProduit">
						Montrer
					</button>
					<a href="{{ path ('app_gestion_produit_ajout') }}" class="btn btn-success">
						Ajouter
					</a>
				</div>
			</div>
			<div class="collapse row justify-content-start" id="collapseProduit">
				{% for produit in produits %}
					<div class='col-12 col-sm-6 col-md-4 mb-3'>
						<div class="card text-bg-dark">
							<img src="{{ asset ('images/produits/' ~ produit.NomImage ) }}" class="card-img-top img-fluid imageRubrique" alt="{{ produit.nomProduit }}">
							<a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path ('app_gestion_produit_modification', {'id': produit.id}) }}">
								<div class="card-img-overlay">
									<h5 class="card-title text-light text-center bg-dark rounded-2">{{ produit.nomProduit | upper }}</h5>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class='row justify-content-start bg-dark rounded my-4'>
			<div class="row my-2">
				<div class='h2 col-12 col-md-6 text-light text-start'>panneau de gestion sous-rubriques</div>
				<div class='col-12 col-md-6 text-end'>
					<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSousRubrique" aria-expanded="false" aria-controls="collapseSousRubrique">
						Montrer
					</button>
					<a href="{{ path ('app_gestion_sousRubrique_ajout') }}" class="btn btn-success">
						Ajouter
					</a>
				</div>
			</div>
			<div class="collapse row justify-content-start" id="collapseSousRubrique">
				{% for sousRubrique in sousRubriques %}
					<div class='col-12 col-sm-6 col-md-4 mb-3'>
						<div class="card text-bg-dark">
							<img src="{{ asset ('images/rubriques-sousRubriques/' ~ sousRubrique.imageSousRubrique ) }}" class="card-img-top img-fluid imageRubrique" alt="{{ sousRubrique.nomSousRubrique }}">
							<a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path ('app_gestion_sousRubrique_modification', {'id': sousRubrique.id}) }}">
								<div class="card-img-overlay">
									<h5 class="card-title text-light text-center bg-dark rounded-2">{{ sousRubrique.nomSousRubrique | upper }}</h5>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class='row justify-content-start bg-dark rounded my-4'>
			<div class="row my-2">
				<div class='h2 col-12 col-md-6 text-light text-start'>panneau de gestion rubriques</div>
				<div class='col-12 col-md-6 text-end'>
					<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRubrique" aria-expanded="false" aria-controls="collapseRubrique">
						Montrer
					</button>
					<a href="{{ path ('app_gestion_rubrique_ajout') }}" class="btn btn-success">
						Ajouter
					</a>
				</div>
			</div>
            
			<div class="collapse row justify-content-start" id="collapseRubrique">
				{% for rubrique in rubriques %}
					<div class='col-12 col-sm-6 col-md-4 mb-3'>
						<div class="card text-bg-dark">
							<img src="{{ asset ('images/rubriques-sousRubriques/' ~ rubrique.imageRubrique ) }}" class="card-img-top img-fluid imageRubrique" alt="{{ rubrique.nomRubrique }}">
							<a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path ('app_gestion_rubrique_modification', {'id': rubrique.id}) }}">
								<div class="card-img-overlay">
									<h5 class="card-title text-light text-center bg-dark rounded-2">{{ rubrique.nomRubrique | upper }}</h5>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		{% set compteur = 1 %}

		<div class='row justify-content-start bg-dark rounded my-4'>
			<div class="row my-2">
				<div class='h2 col-12 col-md-6 text-light text-start'>panneau de gestion utilisateurs</div>
				<div class='col-12 col-md-6 text-end'>
					<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
						Montrer
					</button>
				</div>
			</div>
			<div class="collapse row justify-content-center" id="collapseUser">
				{% for utilisateur in utilisateurs %}
					<div class="card col-11 col-md-4 my-3 mx-md-4">
						<div class="card-body">
							<h5 class="card-title">Information de l'utilisateur
								{{ compteur }}</h5>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Nom :
								{{ utilisateur.Nom | upper }}
								{{ utilisateur.prenom }}</li>
							<li class="list-group-item">Email :
								{{ utilisateur.email }}</li>
							<li class="list-group-item">Télèphone :
								{{ utilisateur.telephone }}</li>
							<li class="list-group-item">type de client :
								{{ utilisateur.type }}</li>
						</ul>
						<div class="card-body text-end">
							<a class="" href="{{ path ('app_gestion_utilisateur_modification', {'id': utilisateur.id}) }}">
								Modifier
							</a>
						</div>
					</div>
					{% set compteur = compteur + 1 %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

